name: Django Extra Checks CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
  schedule:
    - cron:  '30 16 1 * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      PYTHONPATH: "."
    strategy:
      matrix:
        # https://github.com/actions/python-versions/blob/main/versions-manifest.json
        python-version: [3.8, 3.9, "3.10", 3.11.0-beta.5]
        django-version:
          - "Django>=3.2,<4.0"
          - "Django>=4.0,<4.1"
          - "Django>=4.1,<4.2"
          - "https://github.com/django/django/archive/main.tar.gz"
        include:
          - drf: djangorestframework
            python-version: "3.10"
            django-version: "Django<4.2,>=4.1" # must be different from django-version
          - django-version: "Django<4.0,>=3.2"
            python-version: 3.6
          - django-version: "Django<4.0,>=3.2"
            python-version: 3.7

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        if: "!endsWith(matrix.python-version, '-dev')"
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: 'setup.cfg'
      - uses: deadsnakes/action@v2.1.1
        if: endsWith(matrix.python-version, '-dev')
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install deps
        run: |
          python -m pip install -e .[test]
          python -m pip install "${{ matrix.django-version }}" ${{ matrix.drf }}
      - run: pytest

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      PYTHONPATH: "."
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip'
          cache-dependency-path: 'setup.cfg'
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: python -m pip install -e .[dev]
      - run: pre-commit run --show-diff-on-failure --color=always --all-files

  package:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip'
          cache-dependency-path: 'setup.cfg'
      - name: Install dependencies
        run: |
          python -m pip install setuptools wheel twine
      - name: Package
        run: |
          python setup.py sdist bdist_wheel
          twine check dist/*
      - name: Upload dist
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist

  publish:
    runs-on: ubuntu-latest
    needs: [package, tests, lint]
    if: startsWith(github.ref, 'refs/tags/v')
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - name: Set release env
        id: release_output
        run: |
          VERSION=$(awk '$1 == "version" {print $3}' setup.cfg)
          TAG_VERSION="${GITHUB_REF:11}"
          if [[ "$VERSION" != "$TAG_VERSION" ]]; then
            echo "Tag doesn't match package version."
            exit 1
          fi
          BODY=$(awk -v RS='### ' '/'$VERSION'.*/ {print $0}' CHANGELOG.md)
          if [[ -z "$BODY" ]]; then
            echo "No changelog record for version $VERSION."
          fi
          BODY="${BODY//'%'/'%25'}"
          BODY="${BODY//$'\n'/'%0A'}"
          BODY="${BODY//$'\r'/'%0D'}"
          echo "::set-output name=VERSION::${VERSION}"
          echo "::set-output name=BODY::${BODY}"
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Download dist
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - name: Install dependencies
        run: |
          python -m pip install twine
      - name: Publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload dist/*
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ steps.release_output.outputs.VERSION }}
          body: ${{ steps.release_output.outputs.BODY }}
          draft: false
          prerelease: ${{ contains(steps.release_output.outputs.VERSION, 'rc') || contains(steps.release_output.outputs.VERSION, 'b') || contains(steps.release_output.outputs.VERSION, 'a') }}
